kind: ConfigMap
apiVersion: v1
data:
  prometheus-config: |-
    global:
      external_labels:
        external_label_1: "external_label_value"
        external_label_123: "external_label_value"
    scrape_configs:
    - job_name: node-configmap
      scrape_interval: 30s
      label_limit: 63
      label_name_length_limit: 511
      label_value_length_limit: 1023
      scheme: http
      metrics_path: /metrics
      relabel_configs:
      - source_labels: [__metrics_path__]
        regex: (.*)
        target_label: metrics_path
      - source_labels: [__address__]
        replacement: '$NODE_NAME'
        target_label: instance
      - source_labels: [__address__]
        action: replace
        regex: (.*)
        replacement: $NODE_NAME
        target_label: node_name_single_dollar_sign
      - source_labels: [__address__]
        action: replace
        regex: (.*)
        replacement: $$NODE_NAME
        target_label: node_name_double_dollar_sign
      - source_labels: [__address__]
        action: replace
        regex: (.*)
        replacement: $NODE_IP
        target_label: node_ip_single_dollar_sign
      - source_labels: [__address__]
        action: replace
        regex: (.*)
        replacement: $$NODE_IP
        target_label: node_ip_double_dollar_sign
      static_configs:
      - targets: ['$NODE_IP:19100']
metadata:
  name: ama-metrics-prometheus-config-node
  namespace: kube-system