{{- $arcExtensionSettings := include "arc-extension-settings" . | fromYaml }}
{{- if $arcExtensionSettings.isArcExtension }}
  {{- if or ( contains "microsoft.kubernetes/connectedclusters" ($arcExtensionSettings.resourceId | lower)) ( contains "microsoft.hybridcontainerservice/provisionedclusters" ($arcExtensionSettings.resourceId | lower)) }}
  #extension model
    {{- if not (empty .Values.Azure.Extension.Name) }}
apiVersion: clusterconfig.azure.com/v1beta1
kind: AzureExtensionIdentity
metadata:
  name: {{ .Values.Azure.Extension.Name }}
  namespace: azure-arc
spec:
  serviceAccounts:
    - name: ama-metrics-serviceaccount
      namespace: {{ $.Values.namespace }}
  tokenNamespace: azure-arc
---
    {{- end }}
apiVersion:  clusterconfig.azure.com/v1beta1
kind: AzureClusterIdentityRequest
metadata:
  name: ama-metrics-clusteridentityrequest
  namespace: azure-arc
spec:
  {{- if eq $arcExtensionSettings.cloudEnvironment "azurepubliccloud" }}
  audience: https://monitor.azure.com/
  {{- else if eq $arcExtensionSettings.cloudEnvironment "azurechinacloud" }}
  audience: https://monitor.azure.cn/
  {{- else if eq $arcExtensionSettings.cloudEnvironment "azureusgovernmentcloud" }}
  audience: https://monitor.azure.us/
  {{- else if .Values.AzureMonitorMetrics.isArcACluster }}
  audience: {{ required "customResourceEndpoint is required in Arc Autonomous" .Values.AzureMonitorMetrics.arcAutonomousSettings.customResourceEndpoint | toString | trim | quote }}
  {{- else }}
  audience: https://monitor.azure.com/
  {{- end }}
  {{- if not (empty .Values.Azure.Extension.Name) }}
  resourceId: {{ .Values.Azure.Extension.Name }}
  {{- end }}
  {{- end }}
{{- end }}