<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="noindex,nofollow">
    <title>{{ pageTitle }}</title>
    <script src="/static/vendor/js/jquery-3.5.1.min.js"></script>
    <script src="/static/vendor/js/popper.min.js"></script>
    <script src="/static/vendor/bootstrap-4.5.2/js/bootstrap.min.js"></script>

    <link type="text/css" rel="stylesheet" href="/static/vendor/bootstrap-4.5.2/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="/static/css/prometheus.css">
    <link type="text/css" rel="stylesheet" href="/static/vendor/bootstrap4-glyphicons/css/bootstrap-glyphicons.min.css">

    <script>
        var PATH_PREFIX = "";
        var BUILD_VERSION = "";
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

    <link type="text/css" rel="stylesheet" href="/static/css/config.css">
    <script src="/static/js/config.js"></script>
  </head>

<body>
  <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#nav-content" aria-expanded="false" aria-controls="nav-content" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="nav-content" class="navbar-collapse collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/config">Configuration</a></li>
                <li class="nav-item"><a class="nav-link" href="/targets">Targets</a></li>
                <li class="nav-item"></li><a class="nav-link" href="/service-discovery">Service Discovery</a></li>
            </ul>
        </div>
    </div>
</nav>
  <div class="container-fluid">
    <h2 id="configuration">Configuration <button type="button" class="btn btn-primary" id="copyToClipboard">Copy to clipboard</button></h2>

    <pre id="config_yaml">{{.}}</pre>
  </div>
</body>
</html>
