kind: ConfigMap
apiVersion: v1
data:
  schema-version:
    #string.used by agent to parse config. supported versions are {v1}. Configs with other schema versions will be rejected by the agent.
    v1
  config-version:
    #string.used by customer to keep track of this config file's version in their source control/repository (max allowed 10 chars, other chars will be truncated)
    ver1
  prometheus-collector-settings: |-
    default_metric_account_name = {{ required "azureMetricAccount.defaultAccountName is required" .Values.azureMetricAccount.defaultAccountName | toString | quote }}
  default-scrape-settings-enabled: |-
    kubelet = {{ .Values.scrapeTargets.kubelet }}
    coredns = {{ .Values.scrapeTargets.coreDns }}
    cadvisor = {{ .Values.scrapeTargets.cAdvisor }}
metadata:
  name: {{ .Release.Name }}-prometheus-collector-configmap
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "prometheus-collector.labels" . | nindent 4 }}
