{
   "otlp":{
      "endpoints":[
         "127.0.0.1:55680"
      ],
      "resourceAttributes":[
        "cluster",
        "job",
        "instance"
      ],
      "honorResourceAttributes":true,
      "disableExemplars":false,
      "maxReceiveMessageSizeMBytes": 12
   },
   "publicationIntervalInSec":20,
   "maxPublicationAttemptsPerMinute":12,
   "maxPublicationPackageSizeInBytes":5000000,
   "maxPublicationBytesPerMinute":200000000,
   "maxPublicationMetricsPerMinute":10000000,
   "maxAggregationQueueSize":7000000,
   "maxNumberOfRawEventsPerCycle":5000000,
   "compressMetricData":true,
   "maxStringInternCacheSizeMb":5000,
   "interningSwapPeriodInMin":10000,
   "internalQueueSizeManagementPeriodInSec":10000,
   "proxyDefinitionMode":1
}
