{
   "otlp":{
      "endpoints":[
         "127.0.0.1:55680"
      ],
      "resourceAttributes":[
         "cluster",
         "job",
         "instance"
      ],
      "honorResourceAttributes":true
   },
   "publicationIntervalInSec":30,
   "enableParallelization":true,
   "maxPublicationAttemptsPerMinute":12,
   "enableTwoStagePublication":false,
   "maxPublicationPackageSizeInBytes":90000000,
   "maxPublicationBytesPerMinute":200000000,
   "maxPublicationMetricsPerMinute":10000000,
   "maxAggregationQueueSize":2500000,
   "maxNumberOfRawEventsPerCycle":5000000,
   "maxAggregationTimeoutPerCycleInSec":40,
   "aggregationProcessingParallelizationFactor":4,
   "compressMetricData":true
}