{
   "otlp":{
      "endpoints":[
         "127.0.0.1:55680"
      ],
      "resourceAttributes":[
        "cluster",
        "job",
        "instance"
      ],
      "honorResourceAttributes": true
   },
   "enableParallelization": true,
   "maxPublicationAttemptsPerMinute":12,
   "enableTwoStagePublication": true,
   "maxPublicationPackageSizeInBytes":30000000,
   "maxPublicationBytesPerMinute":150000000,
   "maxPublicationMetricsPerMinute":5000000,
   "maxAggregationQueueSize":6000000,
   "maxNumberOfRawEventsPerCycle":5000000,
   "maxAggregationTimeoutPerCycleInSec":40,
   "aggregationProcessingParallelizationFactor":10,
   "compressMetricData": true
}