exporters:
  otlp:
    endpoint: 127.0.0.1:55680
    tls:
      insecure: true
    compression: "gzip"
    retry_on_failure:
      enabled: false
    timeout: 12s
processors:
  batch:
    send_batch_size: 7000
    timeout: 200ms
    send_batch_max_size: 7000
  resource:
    attributes:
    - key: cluster
      value: "$customResourceId"
      action: "upsert"
receivers:
    prometheus:
      config:
service:
  pipelines:
    metrics:
      receivers: [prometheus]
      exporters: [otlp]
      processors: [batch, resource]