exporters:
  file:
    path: /opt/microsoft/otelcollector/promotel.json
  #influx:
  #  loglevel: debug
  otlp:
    endpoint: 127.0.0.1:55680
    insecure: true
processors:
  batch:
    send_batch_size: 8192
    timeout: 200ms
    send_batch_max_size: 10000
  resource:
    attributes:
    - key: cluster
      value: "$customResourceId"
      action: "upsert"
receivers:
    prometheus:
      config:
        scrape_configs:
        # scrape_configs must be non-null for collector to start
        - job_name: empty_job
service:
  pipelines:
    metrics:
      receivers: [prometheus]
      exporters: [otlp]
      processors: [batch,resource]