apiVersion: v2
name: ${HELM_CHART_NAME}
description: A Helm chart for collecting Prometheus metrics in Kubernetes clusters and ingesting to Azure Metrics Account(s)

# A chart can be either an 'application' or adeveloper 'library' chart.
#
# Application charts are a collection of templates that can be packaged into versioned archives
# to be deployed.
#
# Library charts provide useful utilities or functions for the chart developer. They're included as
# a dependency of application charts to inject those utilities and functions into the rendering
# pipeline. Library charts do not define any templates and therefore cannot be deployed.
type: application

# This is the chart version. This version number should be incremented each time you make changes
# to the chart and its templates, including the app version.
# Versions are expected to follow Semantic Versioning (https://semver.org/)
version:  ${IMAGE_TAG}

# This is the version number of the application being deployed (basically, imagetag for the image built/compatible with this chart semver above). This version number should be
# incremented each time you make changes to the application. Versions are not expected to
# follow Semantic Versioning. They should reflect the version the application is using.
# It is recommended to use it with quotes.
appVersion: "${IMAGE_TAG}"
{{- if not (and .Values.global.commonGlobals.Customer.AzureResourceID (contains "microsoft.containerservice/managedclusters" (lower .Values.global.commonGlobals.Customer.AzureResourceID))) }}
dependencies:
- name: prometheus-node-exporter
  version: "4.45.2"
  repository: oci://${MCR_REGISTRY}${MCR_REPOSITORY_HELM_DEPENDENCIES}
  condition: AzureMonitorMetrics.ArcExtension
  