# Go to https://github-private.visualstudio.com/microsoft/_build?definitionId=405 and manually run the pipeline for CG detection
# Then find the results here: https://github-private.visualstudio.com/microsoft/_componentGovernance/188700
resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - script: |
        sudo apt-get install build-essential -y
      displayName: 'Get build dependencies'
    - script: |
        cd $(Build.SourcesDirectory)/otelcollector/opentelemetry-collector-builder/ && make
      displayName: 'make'
    - task: Docker@2
      displayName: Build an image
      inputs:
        command: build
        buildContext: '$(Build.SourcesDirectory)/otelcollector/'
        dockerfile: '$(Build.SourcesDirectory)/otelcollector/build/linux/Dockerfile'
        tags: |
          $(tag)
    - task: ComponentGovernanceComponentDetection@0
      inputs:
        verbosity: 'Verbose'
        dockerImagesToScan: '$(tag)'
        alertWarningLevel: 'High'
