 scrape_configs:
 - job_name: acstor-metrics-exporter
   honor_labels: true
   scrape_interval: $$SCRAPE_INTERVAL$$
   scheme: http
   kubernetes_sd_configs:
     - role: pod
       namespaces:
         names:
           - acstor
           - kube-system
   relabel_configs:
     # Include only specified namespace
   - source_labels: [__meta_kubernetes_namespace]
     action: keep
     regex: acstor|kube-system
     # Include only specified pods
   - source_labels: [__meta_kubernetes_pod_label_app_kubernetes_io_name, __meta_kubernetes_pod_label_app_kubernetes_io_component]
     action: keep
     regex: (metrics-exporter;monitor)|(storage-operator;node-agent)|(node-agent;node-agent)
     # Include only specified ports
   - source_labels: [__meta_kubernetes_pod_container_port_name]
     action: keep
     regex: metrics
