scrape_configs:
- job_name: controlplane-istio
  scrape_interval: $$SCRAPE_INTERVAL$$
  label_limit: 63
  label_name_length_limit: 511
  label_value_length_limit: 1023
  scheme: https
  static_configs:
    - targets: ['$$MESH_MEMBER_METRICS_FQDN$$']
  tls_config:
    ca_file: /etc/kubernetes/secrets/ca.pem
    cert_file: /etc/kubernetes/secrets/client.pem
    key_file: /etc/kubernetes/secrets/client-key.pem
    insecure_skip_verify: true
  relabel_configs:
    - source_labels: [__address__]
      regex: (.*)
      target_label: instance
      action: replace
  metric_relabel_configs:
    - action: drop
      regex: (go_.*|process_(cpu|max|resident|virtual|open)_.*)
      source_labels:
        - __name__
