scrape_configs:
- job_name: controlplane-istio
  scrape_interval: $$SCRAPE_INTERVAL$$
  scrape_timeout: 10s
  label_limit: 63
  label_name_length_limit: 511
  label_value_length_limit: 1023
  http_sd_configs:
    - url: '$$MESH_MEMBER_METRICS_FQDN$$/v1/targets'
      refresh_interval: 30s
      authorization:
        type: Bearer
        credentials_file: /var/run/secrets/ama-metrics/token
  authorization:
    type: Bearer
    credentials_file: /var/run/secrets/ama-metrics/token
  tls_config:
    insecure_skip_verify: false
  relabel_configs:
    - source_labels: [__address__]
      regex: (.*)
      target_label: instance
      action: replace
  metric_relabel_configs:
    - action: drop
      regex: (go_.*|process_(cpu|max|resident|virtual|open)_.*)
      source_labels:
        - __name__
