  scrape_configs:
  - job_name: kube-dns
    scheme: http
    metrics_path: /metrics
<<<<<<< HEAD
=======
    scrape_interval: 30s
    label_limit: 63
    label_name_length_limit: 511
    label_value_length_limit: 1023
>>>>>>> main
    relabel_configs:
    - action: keep
      source_labels: [__meta_kubernetes_namespace,__meta_kubernetes_pod_name]
      separator: '/'
      regex: 'kube-system/coredns.+'
    - source_labels: [__meta_kubernetes_pod_container_port_name]
      action: keep
      regex: metrics
    - source_labels: [__meta_kubernetes_pod_name]
      target_label: pod
    kubernetes_sd_configs:
    - role: pod
