  scrape_configs:
  - job_name: kube-dns
    scheme: http
    metrics_path: /metrics
    relabel_configs:
    - action: keep
      source_labels: [__meta_kubernetes_namespace,__meta_kubernetes_pod_name]
      separator: '/'
      regex: 'kube-system/coredns.+'
    - source_labels: [__meta_kubernetes_pod_container_port_name]
      action: keep
      regex: metrics
    - source_labels: [__meta_kubernetes_pod_name]
      target_label: pod
    kubernetes_sd_configs:
    - role: pod
