scrape_configs:
- job_name: dcgm-exporter
  scheme: http
  metrics_path: /metrics
  scrape_interval: $$SCRAPE_INTERVAL$$
  label_limit: 63
  label_name_length_limit: 511
  label_value_length_limit: 1023

  kubernetes_sd_configs:
  - role: node

  relabel_configs:
  # Only nodes with label kubernetes.azure.com/dcgm-exporter=enabled
  - source_labels: [__meta_kubernetes_node_label_kubernetes_azure_com_dcgm_exporter]
    regex: enabled
    action: keep

  # Rewrite target from kubelet to dcgm-exporter port
  - source_labels: [__meta_kubernetes_node_address_InternalIP]
    regex: (.+)
    target_label: __address__
    replacement: $1:19400
    action: replace

  - source_labels: [__meta_kubernetes_node_name]
    target_label: instance
    action: replace
