scrape_configs:
- job_name: dcgm-exporter
  scheme: http
  metrics_path: /metrics
  scrape_interval: $$SCRAPE_INTERVAL$$
  label_limit: 63
  label_name_length_limit: 511
  label_value_length_limit: 1023
  kubernetes_sd_configs:
  - role: node
  relabel_configs:
  # Only scrape nodes with label kubernetes.azure.com/dcgm-exporter=enabled
  - source_labels: [__meta_kubernetes_node_label_kubernetes_azure_com_dcgm_exporter]
    regex: enabled
    action: keep
  - source_labels: [__address__]
    replacement: '$$NODE_NAME$$'
    target_label: instance
  static_configs:
  - targets: ['$$NODE_IP$$:$$DCGM_EXPORTER_TARGETPORT$$']
