  scrape_configs:
  - job_name: kube-proxy
    scrape_interval: $$SCRAPE_INTERVAL$$
    label_limit: 63
    label_name_length_limit: 511
    label_value_length_limit: 1023
    kubernetes_sd_configs:
    - role: pod
      namespaces:
        names:
          - kube-system
    relabel_configs:
    - action: keep
      source_labels: [__meta_kubernetes_namespace,__meta_kubernetes_pod_name]
      separator: '/'
      regex: 'kube-system/kube-proxy.+'
    - source_labels:
      - __address__
      action: replace
      target_label: __address__
      regex: (.+?)(\:\d+)?
      replacement: $$1:10249
