  scrape_configs:
  - job_name: kube-proxy
<<<<<<< HEAD
=======
    scrape_interval: 30s
    label_limit: 63
    label_name_length_limit: 511
    label_value_length_limit: 1023
>>>>>>> main
    kubernetes_sd_configs:
    - role: pod
    relabel_configs:
    - action: keep
      source_labels: [__meta_kubernetes_namespace,__meta_kubernetes_pod_name]
      separator: '/'
      regex: 'kube-system/kube-proxy.+'
    - source_labels:
      - __address__
      action: replace
      target_label: __address__
      regex: (.+?)(\:\d+)?
      replacement: $$1:10249
