scrape_configs:
  - job_name: kube-proxy-windows
    scheme: http
<<<<<<< HEAD
=======
    scrape_interval: 30s
    label_limit: 63
    label_name_length_limit: 511
    label_value_length_limit: 1023
>>>>>>> main
    relabel_configs:
    - source_labels: [__address__]
      replacement: '$$NODE_NAME$$'
      target_label: instance
    static_configs:
    - targets: ['$$NODE_IP$$:10249']