name: deploy-to-prod-cluster
on:
  workflow_dispatch:
    inputs:
      helmChartTag:
        description: 'HELM chart SemVer (semantic version) to deploy to prod cluster in the format of 0.0.5-main-10-11-2021-4a8de406'
        required: true
jobs:
  deploy-to-prod-cluster:
    runs-on: ubuntu-latest
    steps:
      - name: Set-workflow-initiator
        run: echo "Initiated by - ${GITHUB_ACTOR}"
      - name: Show-versions-On-deployment-machine
        run: lsb_release -a && helm version
      - name: Set-Helm-OCI-Experimental-feature
        run: echo "HELM_EXPERIMENTAL_OCI=1" >> $GITHUB_ENV
      - name: Set-MCR-Repository
        run: echo "MCR_REPOSITORY=mcr.microsoft.com/azuremonitor/containerinsights/cidev/prometheus-collector/images" >> $GITHUB_ENV
      - name: Set-MCR-HELM-CHART-Repository
        run: echo "MCR_REPOSITORY_HELM=mcr.microsoft.com/azuremonitor/containerinsights/cidev/prometheus-collector" >> $GITHUB_ENV 
      - name: Login-to-Azure-Key-Vault
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_KEYVAULT_CREDENTIALS }}
      - name: Get-kube-config-from-Key-Vault
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: "cdpxacrcredskv"
          secrets: 'ci-prod-aks-eus-kubeconfig'
        id: GetKubeConfig
      - name: Get-kube-config
        run: mkdir ~/.kube/ && echo "${{ steps.GetKubeConfig.outputs.ci-prod-aks-eus-kubeconfig }}" > ~/.kube/config
      - name: Pull-HELM-chart-and-Deploy-to-cluster
        run: helm pull oci://{{ MCR_REPOSITORY_HELM }} --version {{ github.event.inputs.helmChartTag }} && helm upgrade prom-prod ./prometheus-collector-${{ github.event.inputs.helmChartTag }}.tgz --reuse-values --dependency-update --set image.repository=${{ env.MCR_REPOSITORY }} --set image.tag=${{ github.event.inputs.helmChartTag }} --set scrapeTargets.windowsExporter=true --set scrapeTargets.windowsKubeProxy=true --set scrapeTargets.prometheusCollectorHealth=true -n monitoring
