name: scan-last-released-image
on:
  schedule:
  # At the end of every day
  - cron: "0 0 * * *"
jobs:
  scan-image:
    runs-on: ubuntu-latest
    steps:
      - name: Run-trivy-scanner-on-last-released-docker-image
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "mcr.microsoft.com/azuremonitor/containerinsights/cidev/prometheus-collector/images:1.1.2-main-03-06-2022-1df56ae8"
          format: 'table'
          severity: 'CRITICAL,HIGH'
          vuln-type: 'os,library'
          exit-code: '1'
          timeout: '5m0s'
